{% extends "base.html" %}
{% block title %}管理系统{% endblock %}
{% block content %}
<div class="jumbotron">
<h2> {{report.end_time.isoformat}}{{report.report_type}}结果：</h2>
  <h3>订单数据</h3> 
  <p>总订单量{{report.totle_order_true}}({{report.totle_order_true_compare}}%)（总下单量:{{report.totle_order}}，其中已取消{{report.totle_order_cancel}}单） </p>
  <p>订单总额(排除取消订单) : {{report.totle_amount}} ({{report.totle_amount_compare}}%)元</p>
  <hr>
  <h3> 订单流程的时间节点如下</h3>
  <p> 待接单等待时间</p>
   <table class="table">
   <tbody>
     <tr class="info">{% for item in report.wait_day %}
       <td>{{item.name}}</td>
          {%endfor%}
     </tr>
      <tr>
      {% for item in report.wait_day %}
       <td>{{item.totle}}</td>
          {%endfor%}
      </tr>
      <tr>
      {% for item in report.wait_day %}
       <td>{{item.percent}}</td>
          {%endfor%}
      </tr>
    </tbody>
    </table>
  <p> 签到时间与预约时间差 </p>
  <table class="table">
   <tbody>
     <tr class="info">
      {% for item in report.sign_rdv %}
       <td>{{item.name}}</td>
          {%endfor%}
     </tr>
      <tr>
      {% for item in report.sign_rdv %}
       <td>{{item.totle}}</td>
          {%endfor%}
      </tr>
      <tr>
      {% for item in report.sign_rdv %}
       <td>{{item.percent}}</td>
          {%endfor%}
      </tr>
    </tbody>
    </table>
  <p> 签到时间和完工时间差</p>
  <table class="table">
   <tbody>
     <tr class="info">
     {% for item in report.fini_sign %}
       <td>{{item.name}}</td>
          {%endfor%}
     </tr>
      <tr>
      {% for item in report.fini_sign %}
       <td>{{item.totle}}</td>
          {%endfor%}
      </tr>
      <tr>
      {% for item in report.fini_sign %}
       <td>{{item.percent}}</td>
          {%endfor%}
      </tr>
    </tbody>
    </table>

  <p>类目的订单量环比</p>
  <table class="table">
   <tbody>
     <tr class="info">
        <td>窗饰</td>
         <td>晾衣架</td>
         <td>卫浴</td>
         <td>门窗</td>
     </tr>
      <tr>
        <td>{{report.tracery.totle_order}}({{report.totle_order_tracery_compare}}%)</td>
        <td>{{report.clotheshorse.totle_order}}({{report.totle_order_clotheshorse_compare}}%)</td>
        <td>{{report.bathroom.totle_order}}({{report.totle_order_bathroom_compare}}%)</td>
        <td>{{report.doorsandwindows.totle_order}}({{report.totle_order_doorsandwindows_compare}}%)</td>
      </tr>
      <tr>
        <td>{{ report.tracery.totle_amount}} {{report.tracery.totle_order }}</td>
        <td>{{report.clotheshorse.totle_amount}}</td>
        <td>{{report.bathroom.totle_amount}}</td>
        <td>{{report.doorsandwindows.totle_amount}}</td>
      </tr>
    </tbody>
    </table>
  <p>各类目的订单量，以及前５城市分布</p>
  <table class="table table-hover">
     <tbody>
    {% for item in report.tab_category_city %}
    <tr class="info">
        <td>{{item.category}}</td>
        {% for order in item.citys %}
        <td> {{order.name}}</td>
        {%endfor%}
    </tr>
    <tr class="warning">
       <td>{{item.totle_order}} <br/>平均客单价 : {{item.price_pre_order}}</td>
       {% for order in item.citys %}
       <td> {{order.totle}}</td>
       {%endfor%}
    </tr>
    {%endfor%}
  </table>
    <p>TOP5城市的订单量，以及类目分布</p>
    <table class="table table-hover">
     <tbody>
        {% for item in report.tab_city_category %}
        <tr class="info">
            <td>{{item.city}}</td>
            {% for order in item.categorys %}
            <td> {{order.name}}</td>
            {%endfor%}
        </tr>
        <tr class="warning">
           <td>{{item.totle_order}}<br/>平均客单价 : {{item.price_pre_order}}</td>
           {% for order in item.categorys %}
           <td> {{order.totle}}</td>
           {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
  </table>

<p>订单日复购率如下，周复购率为：{{report.totle_rebuy_rate}}%</p>
<table class="table">
  <thead>
    <tr class="info">
      {%for item in report.day_rebuy %}
          <td>{{item.date}}</td>
      {%endfor%}
    </tr>
  </thead>
  <tbody>
    <tr>
      {%for item in report.day_rebuy %}
        <td>{{item.rebuy_rate}}%</td>
      {%endfor%}
    </tr>
  </tbody>
</table>

<p>订单下单日期分布</p>
<table class="table">
  <thead>
    <tr class="info"><td>星期一</td><td>星期二</td><td>星期三</td><td>星期四</td><td>星期五</td><td>星期六</td><td>星期日</td></tr>
  </thead>
 <tbody>
   <tr>
      {% for item in report.weekdays %}
           <td> {{item}}</td>
      {%endfor%}
   </tr>
 </tbody>
</table>


<hr>
   <h3>用户数据</h3> 
     <table class="table">
     <thead><tr class="warning"><td colspan="5">注册用户角色分布</td></tr></thead>
     <tbody>
       <tr class="info"><td>新增用户</td>
         {% for item in report.tab_user_role %}
         <td>{{item.role}}</td>
            {%endfor%}
       </tr>
        <tr><td>{{report.totle_user}}({{report.totle_totle_user_compare}}%)</td>
        {% for item in report.tab_user_role %}
         <td>{{item.totle_user}}</td>
            {%endfor%}
        </tr>
        <tr><td></td>
        {% for item in report.tab_user_role %}
         <td>{{item.percent}}</td>
            {%endfor%}
        </tr>
      </tbody>
      </table>
      <p>师傅申请审核人次 : {{report.auditing_num}}, 不通过审核人次:{{report.auditing_disabled}}</p>
       <table class="table">
       <thead><tr class="warning"><td colspan="3">新增师傅来源(邀请分享活动)</td></tr></thead>
       <tbody>
         <tr class="info">
           {% for item in report.tab_user_source %}
                <td> {{item.name}}</td>
                {%endfor%}
          </tr>
          <tr>
             {% for item in report.tab_user_source %}
                <td> {{item.totle}}</td>
                {%endfor%}
          </tr>
          <tr>
             {% for item in report.tab_user_source %}
                <td> {{item.percent}}</td>
                {%endfor%}
          </tr>
        </tbody>
        </table>  

      <table class="table">
     <thead><tr class="warning"><td colspan="5">TOP5城市新增师傅</td></tr></thead>
     <tbody>
       <tr class="info">
         {% for item in report.user_city %}
              <td> {{item.name}}</td>
              {%endfor%}
        </tr>
        <tr>
           {% for item in report.user_city %}
              <td> {{item.totle}}</td>
              {%endfor%}
        </tr>
        <tr>
           {% for item in report.user_city %}
              <td> {{item.percent}}</td>
              {%endfor%}
        </tr>
      </tbody>
     </table>
    
    <p>师傅提现总额 : {{report.draw_cash_sum}}元</p>
     <table class="table">
     <thead><tr class="warning"><td colspan="5">师傅使用银行TOP5</td></tr></thead>
     <tbody>
       <tr class="info">
         {% for item in report.worker_bank %}
              <td> {{item.name}}</td>
              {%endfor%}
        </tr>
        <tr>
           {% for item in report.worker_bank %}
              <td> {{item.totle}}</td>
              {%endfor%}
        </tr>
        <tr>
           {% for item in report.worker_bank %}
              <td> {{item.percent}}</td>
              {%endfor%}
        </tr>
      </tbody>
     </table>


  </div>
{% endblock %}